@font-face {
  font-family: poppins;
  src: url(Font/Poppins-Medium.ttf);
  font-weight: bolder;
}
@font-face {
  font-family: poppins;
  src: url(Font/Poppins-Thin.ttf);
  font-weight: thin;
}
@font-face {
  font-family: poppins;
  src: url(Font/Poppins-Regular.ttf);
  font-weight: normal;
}

body {
    font-family: poppins, sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
    background: #efecdb;
    color: #efecdb;
    margin: 0;
  }

  .external{
    text-shadow: 0 0 3px #3d3d42, 0 0 5px #3d3d42;
    overflow-x: scroll;
  }

  * {
    box-sizing: border-box;
  }
  
  /* hide scrollbar 
  ::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }
  
  ::-webkit-scrollbar-button {
    width: 1px;
    height: 1px;
  }*/
  .external {
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    height: 100vh;
  }
  
  .horizontal-scroll-wrapper {
    display: flex;
    align-items: center;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    /* background: url(Event_City_Bg/mainbackground.png), url(Event_City_Bg/delhi.png), url(Event_City_Bg/bluebackground.png); */
    background-size: auto 100%;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-right: 5rem;
  }

  .img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateZ(.1px) scale(0.9);
    transition: 1s;
  }

  #EnglishPoetry {
    transform: translateX(-9rem);
  }
  #EnglishPoetry p {
    transform: translateX(3rem) translateY(-10.5rem);
  }
  #notes {
    transform: translateX(-9rem) translateY(2rem);
  }
  #notes p {
    transform: translateX(8rem) translateY(-9rem);
  }
  #SFIdol {
    transform: translateX(-10.5rem) translateY(2.5rem);
  }
  #SFIdol p {
    transform: translateX(10rem) translateY(-15rem);
  }
  #Nrityakala {
    transform: translateX(-5rem) translateY(2rem);
  }
  #Nrityakala p {
    transform: translateX(5rem) translateY(-6rem);
  }
  #IMeMyself {
    transform: translateX(-4.5rem);
  }
  #IMeMyself p {
    transform: translateX(4rem) translateY(-7rem);
  }
  #PictureTale {
    transform: translateX(1rem) translateY(-5rem);
  }
  #PictureTale p {
    transform: translateX(4rem) translateY(-7rem);
  }
  #HindiPoetry {
    transform: translateX(1.5rem) translateY(-3rem);
  }
  #HindiPoetry p {
    transform: translateX(4rem) translateY(-8rem);
  }
  #Tango {
    transform: translateX(1rem) translateY(-2rem);
  }
  #Tango p {
    transform: translateX(10rem) translateY(-7rem);
  }
  #ShakeLeg {
    transform: translateX(3rem) translateY(-3rem);
  }
  #ShakeLeg p {
    transform: translateX(3rem) translateY(-6rem);
  }
  #Shuffle {
    transform: translateX(1rem) translateY(-1rem);
  }
  #Shuffle p {
    transform: translateX(1rem) translateY(-7rem);
  }
  #Panache {
    transform: translateX(-1rem) translateY(1.5rem);
  }
  #Panache p {
    transform: translateX(5rem) translateY(-7rem) translateZ(-.2px) scale(1.1);
  }  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  .img-wrapper a {
    overflow: hidden;
    display: block;
    max-width: 45vh;
    max-height: 45vh;
  }
  .img-wrapper img {
    max-width: 45vh;
    transition: .5s;
    vertical-align: top;
    filter: saturate(40%) sepia(30%) hue-rotate(5deg);
  }
  .img-wrapper p {
    text-align: center;
    max-width: 8rem;
    transform: translateY(-8rem) translateX(5rem);
  }
  .img-wrapper.wide p{
    max-width: 12rem;
  }
  a:hover img {
    filter: none;
  }
  .city-desc {
    padding: 0 0 10vh 12vh;
    display: flex;
    width: 130vh;
    align-self: flex-end;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    text-align: left;
  }
  .city-desc h1 {
    margin: 0;
    font-size: 5rem;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: left;
    color: #efecdb;
    text-shadow: 0 0 3px #3d3d42, 0 0 5px #3d3d42;
  }
  .city-desc p {
    margin: 0;
    font-size: 1.7rem;
    color: #efecdb;
    text-shadow: 0 0 3px #3d3d42, 0 0 5px #3d3d42;
  }
  .logo {
    position: absolute;
    display: flex;
    top: 0.5rem;
    left: 0.5rem;
    align-items: center;
    justify-content: center;
  }
  .logo img {
    max-height: 4rem;
    padding: 0.2rem;
  }
  .back-btn{
    position: absolute;
    top: 4rem;
    left: 2rem;
    z-index: 1;
    font-size: larger;
  
  }
  .img-wrapper a:hover {
    min-width: 47vh;
    text-decoration: none;
  }