@font-face {
  font-family: MediumFont;
  src: url("Poppins/Poppins-Medium.ttf");
  font-weight: bolder;
}

.navbar {
    background-color: transparent;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom:-90px;
    z-index:10;
    position:fixed;
  }
  
  .menu-bars {
    margin-left: 1rem;
    font-size: 2rem;
    background: none;
  }
  
  .nav-menu {
    background-color: #060b26;
    opacity:0.9;
    width: 350px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    z-index:450;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
    z-index:20;
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
    z-index: 500;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
    z-index: 400;
  }
  
  .nav-text a:hover {
    background-color: #1a83ff;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .menu-sth {
    margin-left: 16px;
  }
  @media screen and (max-width:600px){
    .nav-menu{
        width:240px;
    }
    .nav-text a {
        font-size:16px;
    }
  }
  @media only screen and (max-width: 768px){
    .menu-bars {
      margin-left: 0rem;
  }
}