/* .RegistrationError::before {
  content: ".";
  visibility: hidden; 
} */

.RegistrationError {
    color: red;
    font-family: Poppins;
    font-size: 15px;
}
.RegistrationAll {
  padding-bottom:5px !important;
  padding-top:5px !important;
}
.BoxContainer {
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
margin-top: 10px;

}
/* /.FormContainer {
  
  
}  */

.MutedLink {
font-size: 11px;
color: rgba(200, 200, 200, 0.8);
font-family: Poppins, sans-serif;
font-weight: 500;
text-decoration: none;
}

.BoldLink {
font-size: 11px;
color: #ffffff;
font-family: Poppins, sans-serif;
font-weight: 500;
text-decoration: none;
margin: 0 4px;
cursor: pointer;
}

.SubmitButton {
    width: 100%;
    padding: 11px 40%;
    font-family: Poppins;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 100px 100px 100px 100px;
    cursor: pointer;
    transition: all, 240ms ease-in-out;
    background: #cd3a3a;
 }

.Input {
  border: 1px solid #ffffff !important;
  border-radius: 3px;
  font-family: Poppins;
  background-color: #080e1c !important;
  color: #fff !important;
  margin-top: -6px;
  /* padding-top:5px !important;
  padding-bottom: 5px !important; */
}
 



.Input::placeholder {
  
  font-family: Poppins;
  color: #ffffff !important;
  border-radius: 200px !important;
  opacity: 75% !important;
  z-index: 1000 !important;
}
 


.captchae {
  background-color: #080e1c;
}

.Toastify__toast-container{
  z-index: 9999999999;
}

.example {

  width: 300px;

  min-height: 540px;

  max-height: 548px;

  overflow: scroll;

 }

.example::-webkit-scrollbar {

  display: none;

  width: 0%;

 }