.event-button{
  padding: 0.5rem;
  border: solid 0.15rem whitesmoke;
  border-radius: 0.5rem;
  background-color: transparent;
  color: whitesmoke;
  margin-left: 1rem;
  margin-top: 1rem;
}


.event-button:hover{
  background-color: whitesmoke;
  color: rgb(35, 38, 48);
}

.event-div-group,
  .event-div-solo {
    margin-top: 1rem;
    margin-left: 1rem;
    border: 0.1rem solid whitesmoke;
    border-radius: 1rem;
    padding: 1rem;
    width: 90%;
    text-align: center;
  }
  
  .event-div-group-eventname,
  .event-div-solo-eventname {
    margin-left: 1rem;
  }
  
  .event-div-group-text,
  .event-div-solo-text {
    margin-left: 1rem;
    margin-top: 0.5rem;
  }
  
  .event-div-group ul {
    margin-left: 1rem;
  }
  
  .event-div-group li {
    margin-left: 1rem;
  }
  
  .event-heading-line {
    display: flex;
    justify-content: space-between;
  }
  
  .event-link {
    margin-left: 1rem;
    color: whitesmoke;
    text-decoration: none;
  }

  .event-link:hover{
    text-decoration: underline;
  }

  .event-div-group-text {
      float: left;
  }

.p-db-content-box {
  position: relative;
  left: 2%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2326309f;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5vh;
}

.p-db-content-box h1 {
  margin-bottom: 20px;
  font-size: 3rem;
}

.p-db-content-box p {
  margin-bottom: 20px;
  font-size: 1rem;
}

.p-db-effect-h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-db-effect-h1 .p-hover {
  text-align: start;
  padding: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.p-db-effect-h1 .p-hover:before, .p-db-effect-h1 .p-hover:after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 0px;
  height: 5px;
  margin: 5px 0 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-duration: 0.75s;
          transition-duration: 0.75s;
  opacity: 0;
  background-color: #ff2424;
}

.p-db-effect-h1 .p-hover.p-hover-1:before {
  left: 50%;
}

.p-db-effect-h1 .p-hover.p-hover-1:after {
  right: 50%;
}

.p-db-effect-h1:hover {
  cursor: pointer;
}

.p-db-effect-h1:hover .p-hover:before, .p-db-effect-h1:hover .p-hover:after {
  width: 100%;
  opacity: 1;
}

.p-db-effect-h1:hover .p-hover.p-hover-1:before, .p-db-effect-h1:hover .p-hover.p-hover-1:after {
  width: 50%;
}

.p-db-content-box {
  
  border-radius: 4px;
  -webkit-transition: all 0.4s ease-in-out !important;
  transition: all 0.4s ease-in-out !important;
}

.p-db-content-box:hover {

  -webkit-box-shadow: 0px 0px 50px 4px rgba(0, 0, 0, 0.2) !important;
          box-shadow: 0px 0px 50px 4px rgba(0, 0, 0, 0.2) !important;
  color: white !important;
}

@media only screen and (max-width: 1100px){
  .p-db-content-box {
    left: 25%;
  }
}

@media only screen and (max-width: 768px){
  .p-db-content-box {
    width: 70%;
    padding: 20px;
    left: 12%;
  }
}

@media only screen and (max-width: 610px){
  .p-db-content-box {
    width: 60%;
    padding: 20px;
    left: 8%;
  }
  .event-heading-line {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 550px){
  .p-db-content-box{
    width: 55%;
    padding: 20px;
    left: 5%;
  }
  .event-heading-line {
    display: flex;
    flex-direction: column;
  }
}


@media only screen and (max-width: 460px){
  .p-db-content-box {
    width: 50%;
    padding: 10px;
    left: 3rem;
  }
  .event-heading-line {
    display: flex;
    flex-direction: column;
  }
  
}

@media only screen and (max-width: 380px){
  .p-db-content-box {
    width: 45%;
    padding: 15px;
    left: 3rem;
  }
  .p-db-content-box h1{
    font-size: 35px;
  }
  .event-heading-line {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 350px){
  .p-db-content-box {
    width: 40%;
    padding: 15px;
    left: 2rem;
  }
  .event-heading-line {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 315px){
  .p-db-content-box {
    width: 35%;
    padding: 15px;
    left: 2rem;
  }
  .event-heading-line {
    display: flex;
    flex-direction: column;
  }
}

/*style={{backgroundColor:"#2326309f" ,color:"white"  }}*/